 header,button,div,p,h3, h2,a,ul,li{
display:flex;
}
#one{
    background-color: #1F2937;
}
.logo{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.nav-links{
    font-size: 18px;
    color:#E5E7EB
}
#one-description > p{
font-size: 24px;
color:#F9FAF8
}
button{
    background-color: #3882f6;
    color:#E5E7EB;
}











